<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li>
        <a href="#">Programs</a>
        <ul>
          <li><a href="/programs/community-fund/">Community Fund</a></li>
          <li><a href="/programs/kj-smith-scholarship/">KJ Smith Scholarship</a></li>
          <li><a href="/programs/evening-under-the-oaks/">Evening Under the Oaks</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
